NODE_ENV=development
PORT=8080
DATABASE="live_db_url"
DATABASE_LOCAL="local_db_url"
DATABASE_PASSWORD="db_password"
DATABASE_NAME="db_name"
JWT_SECRET=my-ultra-secure-and-ultra-long-secret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

MAILGUN_API_KEY="your_mailgun_apikey"
MAILGUN_DOMAIN="your_mailgun_domain"
EMAIL="app_email"
